.header-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat(5,25px);
}

.header-bg {
    background-image: url('../images/background.jpg');
    background-position: 0 0, center;
    background-size: cover;
    grid-area: 1 / 1 / 6 / 4;
    overflow: hidden;
}

.header-nav {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav > a {
    margin-right: 20px;
}

.nav-backdrop {
    grid-area: 5 / 1 / 6 / 4;
    background-color: rgba(200, 200, 200, 0.75);
}

.footer-wrapper {

}
table {
    width: 100%;
}

