body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: right -175px;
}

table {
    width: 100%;
}
