h2 {
    color: blue;
    font-family: Garamond, serif;
    font-size: 250%;
}

table, th, td {
    border-radius: 20px;
    border-collapse: collapse;
}

textarea {
    background-color: rgba(211, 211, 211, 0.75);
    border-radius: 5px;
    padding: 10px;
}