h2 {
    font-size: 20px;
}

textarea {
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 10px;
}

.bg-main-content {
    background-color: rgba(211, 211, 211, 0.75);
    padding: 20px;
}

td {
    border-radius: 5px;
}
