h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.search {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.75);
    padding: 5px;
    border-radius: 30px
}

.special {
    text-align: center;
}

.resto-desc {
    font-size: 10px;
    text-align: left;
    padding-left: 120px;
    font-style: initial;
}

.home-image1 {
    margin-left: 10%;
}

.content {
    background-image: url('../images/index-bg.png');
    background-size: cover;
}