.ing-content {
    border-radius: 5px;
}

.bg-ingredients-img {
    text-align: center;
    vertical-align: center;
    background-color: rgba(211, 211, 211, 0.75);
}

.bg-ingredients-store {
    background-color: rgba(211, 211, 211, 0.75);
    padding: 20px;
}

.search {
    text-align: center;
    background-color: rgba(211, 211, 211, 0.75);
    padding: 5px;
}

/* grid for table layout
table, th, td {
    border: 1px solid black;
}
*/