.page-text-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.recipe-main-content {
    width: 100%;
}

.recipe-main-content .content-area {
    background-color: rgba(211, 211, 211, 0.75);
}

.td-image {
    text-align: center;
}